*
  box-sizing: border-box
html
  font-size: 14px
body
  position: relative

.container
  width: 1256px
  margin: 0 auto
  font-size: 1.14rem
  font-family: 'Roboto-Bold', sans-serif
  color: $light

h1
  font-size: 4.29rem
h2
  font-size: 2.5rem
h3
  font-family: 'Roboto-Medium', sans-serif
  font-size: 1.7rem
p
  font-size: 1.29rem

header, main, footer
  position: relative
  z-index: 1