.header

  margin-top: 10px
  margin-bottom: 40px

.nav
  display: flex
  justify-content: space-around
  align-items: center
  margin-left: 27px
  margin-right: 27px

  & a
    line-height: 115%
  &__logo
    width: 154px
    height: 64px
  &__search
    margin-left: 367px
  & button
    width: 92px
    height: 32px
    display: flex
    justify-content: center
    align-items: center
    margin-left: -10px
    color: $light
    background: rgba(255, 255, 255, 0.2)
    border: 1px solid $primary
    border-radius: 20px
    font-family: 'Roboto-Medium', sans-serif
    font-size: 14px
    & img
      width: 20px
      height: 20px
    & span
      margin-left: 8px
  & button:last-child
    width: 100px











