.main
  &__raspberry,
  &__chocolate
    width: 560px
    height: 229px
  &__raspberry
    background: url("/dist/img/raspberry.png") center no-repeat
  &__chocolate
    background: url("/dist/img/chocolate.png") center no-repeat

