.main
  &__commercial
    margin-top: 40px
    margin-bottom: 40px
    display: flex
    justify-content: space-around
    align-items: center
    & article,
    & form
      width: 560px
      height: 220px
      border-radius: 16px


.commercial
  &__blog
    background: url("/dist/img/strawberry.png") center no-repeat
    padding-top: 23px
    padding-left: 20px
    color: $dark
    & p
      font-family: 'Roboto-Medium', sans-serif
      font-size: 1.14rem
    & h3
      font-family: 'Roboto-Bold', sans-serif
      line-height: 125%
      text-decoration: underline
    &:hover
      cursor: pointer
      transform: scale(1.1)

  &__feedback
    background: url("/dist/img/background-bands.png") center
    &:hover
      cursor: pointer
      transform: scale(1.1)



.feedback
  &__background-grey
    background: url("/dist/img/background-grey.png") center no-repeat
    margin: 0 auto
    border-radius: 16px
    color: $grey
    height: 210px
    width: auto
    padding-top: 10px
    margin-top: 5px


    & p
      font-family: 'Roboto-Regular', sans-serif
      font-size: 1.14rem
      line-height: 137%

      padding-left: 20px
    & input
      margin-top: 25px
      margin-left: 20px
      margin-bottom: 25px
      padding-left: 14px
      width: 368px
      height: 44px
      border-radius: 6px
      border: 1px solid rgba(178, 178, 178, 0.52)
      box-sizing: border-box
      line-height: 150%
      color: lighten($grey, 20%)
      font-family: 'Roboto-Regular', sans-serif
      font-size: 1.14rem
      &:hover,
      &:focus,
      &:active
        cursor: pointer
        outline-color: #E74A35
        border: 2px solid #E74A35
    & button
      width: 130px
      height: 44px
      margin-left: 10px

    & label
      &.invalid
        position: absolute
        display: block
        margin-top: -16px
        margin-left: 21px

